*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.OuterDiv{
    height: 180vh;
    width: 100vw;
    /* border: 2px solid red; */
}

body{
    font-family: sans-serif;
}

.mainContainer{
    height: 100%;
    width: 100%;
    /* border: 2px solid pink; */
}

.menu_bar{
    height: 5%;
    width: 100%;
    /* border: 2px solid blue; */
    display: flex;
    align-items: center;
     justify-content: space-between; 
     background-color: yellow;
     padding: 0 5%;
}

.menu_bar ul{
    display: flex;
    list-style: none;

}

.menu_bar ul li{
    padding: 10px 10px;
    position: relative;
    
}

.menu_bar ul li a{
    text-decoration: none;
    display: block;
    font-size: 17px;
    transition: all .3s;

}

.menu_bar ul li a:hover{
    color: aqua;
    border-top: 2px solid aqua;
}

.dropdown_menu{
    display: none ;
}

.menu_bar ul li:hover .dropdown_menu{
    display: block;
    position: absolute;
    /* left: 0;
    top: 100%; */
    background-color:whitesmoke;
}

.dropdown_menu ul{
    display: block; 
 
}

.dropdown_menu ul li{
    width: 100px;
    margin: 10px;
}

.fas{
    float: right;
    margin-left: 10px;
}



.Bottombar{
    height: 95%;
    width: 100%;
    /* border: 2px solid purple; */
}

.bottomtop{
    height: 60%;
    width: 100%;
    /* border: 2px solid black; */
    display: flex;
}

.bottomleft{
    height: 100%;
    width: 55%;
    /* border: 2px solid blue; */
}

.bottomleft h2{
    padding: .5rem 3rem;
}

.bottomleft p{
    padding: .6rem 3rem;
}

.bottomright{
    height: 100%;
    width: 45%;
    /* border: 2px solid pink; */
}

.bottomrighttop{

    height: 55%;
    width: 100%;
    /* border: 2px solid purple; */
}

.bottomrighttop img{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-left: 5rem;
} 

.bottomrightbottom{
    height: 45%;
    width: 100%;
    /* border: 2px solid purple; */

}

.bottomrightbottom a img{
    height: 40px;
    padding-left: 5rem;
    margin: .5rem;

}

.bottommiddle{
    height: 20%;
    width: 100%;
    background-color: rgba(24, 23, 23, 0.664);
    
}

.bottommiddle ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    display: flex;
    padding-top: 5rem;
    padding-left: 25rem;
    padding-right: 25rem;
}

.bottommiddle ul li{
    padding: .5rem;
    position: relative;
    background-color: white;
    border-radius: 30px;
    color: black;
   
}

.bottommiddle ul li a{
    text-decoration: none;
    display: block;
    font-size: 17px;
    transition: all .3s;
    /* border: 1px solid white; */
    


}

.bottommiddle ul li a:hover{
    color: rgba(0, 0, 0, 0.637);
}

.bottomdown{
    height: 20%;
    width: 100%;
    background-color: rgba(0, 124, 128, 0.904);
    
}

.bottomdown img{
    padding-left: 33rem;
}

.bottomdown h4{
    padding-left: 33rem;
    color: white;
}

.bottomdown p{
    padding-left: 30rem;
    color: white;
    padding-top: .5rem;

}
.bottomdown h5{
    padding-left: 33rem;
    color: white;
    padding-top: .5rem;
}

.bottomdown ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
     padding-left: 25rem;
     padding-right: 25rem;
     padding-top: .3rem;
}

.bottomdown ul li{
    padding: .5rem;
    position: relative;
    color: black;
   
}

.bottomdown ul li a{
    text-decoration: none;
    display: block;
    font-size: 17px;
    transition: all .3s;
    /* border: 1px solid white; */
    
}

.bottomdown ul li a:hover{
    color: rgb(20, 20, 20);
}
